<!DOCTYPE HTML>

<html>

<head>

  <meta charset="utf-8" />

  <title>Traductor</title>

</head>

<body style="background-color:black;">

  <div *ngIf="banderaeditorr">
    <mat-toolbar style="background-color:saddlebrown;" >
      <button mat-button [matMenuTriggerFor]="menu" style="color:seagreen;">Archivo</button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)='abrir()' style="background-color:olive; color:darkblue">
          Abrir<input id="inputt" type="file" accept=".ty" style="display: none" file-handler
            (change)="fileChanged($event.target.files)">
        </button>
        
        <button mat-menu-item (click)='crear()' style="background-color:olive; color:darkblue">Crear Archivo</button>
        <button mat-menu-item (click)='guardar()' style="background-color:olive; color:darkblue">Guardar</button>
        <button mat-menu-item (click)='cerrarpestania()' style="background-color:olive; color:darkblue">Cerrar Pestania</button>
      </mat-menu>

      <button mat-button (click)='compilar()' style="color:seagreen;">Ejecutar</button>

      <button mat-button [matMenuTriggerFor]="menu2" style="color:seagreen;">Reportes</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click)='reporteast()' style="background-color:olive; color:darkblue">
          Reporte de AST
        </button>
        <button mat-menu-item (click)='reporteerrores()' style="background-color:olive; color:darkblue">
          Reporte de Errores
        </button>
        <button mat-menu-item (click)='reportesimbolos()' style="background-color:olive; color:darkblue">
          Reporte de Simbolos
        </button>
      </mat-menu>
    </mat-toolbar>

    <br>

    <div class="row" >
      <div class="column" >

        <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" style="background-color:olive; color:darkblue">
          <mat-tab  *ngFor="let tab of tabs" [label]="tab.name" >
            <ngx-monaco-editor [formControl]="tab.formm" class="ngx-monaco-editor" [options]="editorOptions"
              [(ngModel)]="tab.codee" (init)="editorInit($event)"></ngx-monaco-editor>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="column">

        <mat-tab-group style="background-color:darkcyan; color:darkblue">
          <mat-tab label="Resultado">
            <ngx-monaco-editor class="ngx-monaco-editor" [options]="editorOptions2" [(ngModel)]="code2"
              (init)="editorInit2($event)" ></ngx-monaco-editor>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>

  <div *ngIf="banderaast">
    <mat-toolbar style="background-color:darkcyan">
      <button mat-button (click)='regresareditorast()' style="color:darkblue">Regresar</button>
    </mat-toolbar>
    <img [src]="urlimagen">
  </div>

  <div *ngIf="banderareporteerrores">
    <mat-toolbar style="background-color:darkcyan">
      <button mat-button (click)='regresareditorreporteerrores()' style="color:darkblue">Regresar</button>
    </mat-toolbar>
    <img [src]="urlimagen2">
  </div>

  <div *ngIf="banderareportesimbolos">
    <mat-toolbar style="background-color:darkcyan">
      <button mat-button (click)='regresareditorreportesimbolos()' style="color:darkblue">Regresar</button>
    </mat-toolbar>
    <img [src]="urlimagen3">
  </div>

</body>

</html>